#login_page

  body {
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/H8WuRINimqur8ud/time-is-money-concept-stock-video-business-collage-with-digital-clock-and-finance-background-collage-symbolizing-time-money-business-blue-abstract-background-hd-stock-video-time-and-money_r5_ruzf8__F0000.png);
    background-size: cover;
    padding-left: 90px;
    padding-right: 90px;
    }
    .dashedborder {
      
      border: 5px dashed #ffffff;
      margin: 10px 20px 30px 40px;
      padding: 10px 20px 20px 40px;
      text-align: center;
    }
    .group {
      border: 5px dashed #ffffff;
      margin: 40px 20px 30px 40px;
      padding: 40px 20px 30px 40px;
      text-align: center;  
    }
    h1{
      color:#FFFFFF;
      text-decoration:underline;
      font-size: 60px;
    }
    from{
      color:#00CC00;
      font-size: 35px;
    }


#menu_page

  body{
    background-image:url(https://wallpaper.thaiware.com/upload/wallpaper/2011_08/17932_10631_110829114859_48.jpg);
    background-size: cover;
    padding: 30px;
    }
    legend{
      border: 8px ridge #00CCCC;
      color:#00CC66;
      font-size: 60px;
      text-align:center;
      
      
    }
    h1{
      padding-left: 250px;
      
    }
    img{
      padding-right: 100px;
      
    }
    p {
      padding: 30px;
    }
    a {
      text-align: center;
      text-decoration: none;
      padding: 13px 50px;
    }
    .flat {
      color: #ffffff;
      background-color: #1abc9c;
    }
    .flat:hover {
      color: #ffffff;
      background-color: #48c9b0;
    }
    .flat:active {
      background: #16a085;
    }
    fieldset{
      border: 10px ridge #00CCCC;
    }  


#balance_page

  body{
    background-image: url(http://www.noisiamofuturo.it/wp-content/uploads/2017/04/7815696ecbf1c96e6894b779456d330e.jpg);
  background-size: cover;
  padding-left: 90px;
  padding-right: 90px;
  text-align: center;
  font-size: 40px;
  color:#FFFFFF;
  }
  fieldset
  {
     padding-right: 400px;
     border: 8px ridge #FF99CC
  }
  a{
     padding-left: 380px;
  }
  legend{
    font-size: 50px;
  }


#withdraw_page

  body{
    background-image: url(https://i.pinimg.com/originals/23/8d/d7/238dd7992868f2d40e9c9b34e211d96d.jpg);
    background-size: cover;
    padding-left: 40px;
    padding-right: 40px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 35px;
    color: #666;
    background-color: #f4f4f4;
      
    }
    h1{
      color:#003366
    }
    fieldset{
      border: 10px ridge #00CCCC;
      padding: 20px;  
      text-align:center;
      
    }
    p {
      text-align: center;
      padding: 30px;
    }
    a {
      text-align: center;
      text-decoration: none;
      padding: 12px 40px;
    }
    .flat {
      color: #ffffff;
      background-color: #1abc9c;
    }
    .flat:hover {
      color: #ffffff;
      background-color: #48c9b0;
    }
    .flat:active {
      background: #16a085;
    }

#deposit_page

  body{
    background-image: url(http://www.chatsworthcommunications.com/wp-content/uploads/2016/06/shutterstock_576743111.jpg);
  background-size: cover;
  padding-left: 90px;
  padding-right: 90px;
  text-align: center;
  font-size: 40px;
  color:#202020;
  }
  fieldset
  {
     border: 8px ridge #FFFF99
  }


#transfer_page

  body{
    background-image:url(https://previews.123rf.com/images/djedzura/djedzura1212/djedzura121200029/17086621-wallpaper-of-polish-money-polish-zloty.jpg);
  }
  h1{         
    background-size: contain;
    background-repeat: no-repeat;
    text-align:center;
    padding-left: 200px;  
    font-size:30pt;
    padding:15pt;
    color:#4C0099;
   
  }
  legend{
   text-align:center;
  }
  fieldset{
   text-align: center;
   border: 8px ridge #00CCCC;
  }
  img{
   padding-right: 200px;
  }
  h2{
   padding-left: 100px;
    font-size:25pt;
    color:#4C0099;
  }




