body{
    background-image: url(http://www.noisiamofuturo.it/wp-content/uploads/2017/04/7815696ecbf1c96e6894b779456d330e.jpg);
  background-size: cover;
  padding-left: 90px;
  padding-right: 90px;
  text-align: center;
  font-size: 40px;
  color:#FFFFFF;
  }
  fieldset
  {
     padding-right: 400px;
     border: 8px ridge #FF99CC
  }
  a{
     padding-left: 380px;
  }
  legend{
    font-size: 50px;
  }