body{
    background-image: url(http://www.chatsworthcommunications.com/wp-content/uploads/2016/06/shutterstock_576743111.jpg);
  background-size: cover;
  padding-left: 90px;
  padding-right: 90px;
  text-align: center;
  font-size: 40px;
  color:#202020;
  }
  fieldset
  {
     border: 8px ridge #FFFF99
  }