body{
  background-image:url(https://wallpaper.thaiware.com/upload/wallpaper/2011_08/17932_10631_110829114859_48.jpg);
  background-size: cover;
  padding: 30px;
  }
  legend{
    border: 8px ridge #00CCCC;
    color:#00CC66;
    font-size: 60px;
    text-align:center;
    
    
  }
  h1{
    padding-left: 250px;
    
  }
  img{
    padding-right: 100px;
    
  }
  p {
    padding: 30px;
  }
  a {
    text-align: center;
    text-decoration: none;
    padding: 13px 50px;
  }
  .flat {
    color: #ffffff;
    background-color: #1abc9c;
  }
  .flat:hover {
    color: #ffffff;
    background-color: #48c9b0;
  }
  .flat:active {
    background: #16a085;
  }
  fieldset{
    border: 10px ridge #00CCCC;
  }
  
  