body{
  background-image:url(http://www.tokkoro.com/picsup/393327-money-wallpaper-hd-pack.jpg);
}
h1{         
  background-size: contain;
  background-repeat: no-repeat;
  text-align:center;
  padding-left: 200px;  
  font-size:30pt;
  padding:15pt;
  color:#4C0099;
 
}
legend{
 text-align:center;
}
fieldset{
 text-align: center;
 border: 8px ridge #00CCCC;
}
img{
 padding-right: 200px;
}
h2{
 padding-left: 100px;
  font-size:25pt;
  color:#4C0099;
}