body{
    background-color:#FCEBB6;
 }
 h1{
   background-image:url(https://cdn1.iconfinder.com/data/icons/electronic-funds-transfers/92/iconN136-13-512.png);
   background-size: contain;
   background-repeat: no-repeat;
   
   font-size:25pt;
   padding:15pt;
  
 }