body{
  background-image: url(https://i.pinimg.com/originals/23/8d/d7/238dd7992868f2d40e9c9b34e211d96d.jpg);
  background-size: cover;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 35px;
  color: #666;
  background-color: #f4f4f4;
    
  }
  h1{
    color:#003366
  }
  fieldset{
    border: 10px ridge #00CCCC;
    padding: 20px;  
    text-align:center;
    
  }
  p {
    text-align: center;
    padding: 30px;
  }
  a {
    text-align: center;
    text-decoration: none;
    padding: 12px 40px;
  }
  .flat {
    color: #ffffff;
    background-color: #1abc9c;
  }
  .flat:hover {
    color: #ffffff;
    background-color: #48c9b0;
  }
  .flat:active {
    background: #16a085;
  }