
  body {
    background-image: url(https://d2v9y0dukr6mq2.cloudfront.net/video/thumbnail/H8WuRINimqur8ud/time-is-money-concept-stock-video-business-collage-with-digital-clock-and-finance-background-collage-symbolizing-time-money-business-blue-abstract-background-hd-stock-video-time-and-money_r5_ruzf8__F0000.png);
    background-attachment: fixed;
    background-size: cover;
    padding-left: 90px;
    padding-right: 90px;
    }
    .dashedborder {
      
      border: 5px dashed #ffffff;
      margin: 10px 20px 30px 40px;
      padding: 10px 20px 20px 40px;
      text-align: center;
    }
    .group {
      border: 5px dashed #ffffff;
      margin: 40px 20px 30px 40px;
      padding: 40px 20px 30px 40px;
      text-align: center;  
    }
    h1{
      color:#01ef9f;
      text-decoration: none;
      font-size: 60px;
    }
    from{
      color:#00CC00;
      font-size: 35px;
    }


