 
<h1>Deposit</h1>
<from method-="post">
<fieldset>
  Enter your money in Cent unit:<br>
    <input type="text"name="fname" id="fname">
    <label>
    <input type="button" id="Submit" value="Submit">
</fieldset>
    <br>
   * * * * * * * * * * * * * * * * * * * * * * * *   
    <br>
    * Please insert your money in two minutes * 
    <br> 
  * * * * * * * * * * * * * * * * * * * * * * * * 
    