<body>

  <h1><dd>&nbsp;&nbsp;&nbsp;Transfer Money </h1>
  <fieldset>
    Input account number :<input type = "text"
                             name = "account">
    <br>
    Input money :  <input type = "text"
                           name = "money">$<br>
    <input type = "submit" name =  "submit">
    <input type = "reset" name =  "reset">
  </fieldset>
    
  </body>